router-outlet,
.card {
  display: block;
  margin-top: 1rem
}
.state-alivrer {
  color: red;
}
.state-encours {
  color: blue;
}
.state-livree {
  color: green;
}

.card-header {
  button {
    float: right;
    cursor: pointer;
    & + button {
      margin-left: 10px;
    }
  }
}
